<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to go to confession</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>How to fall off stairs</h2>
<ol>
    <li>Examine your conscience</li><br>
    <li>Be sincerely sorry for your sins</li><br>
    <li>find a priest to do a confession</li><br>
    <li>Think about what sins you have cometed</li><br>
    <li>Confess you sins to a priest</li><br>
    <li>Talk about how you can inprove</li><br>
    <li>get abslsion </li><br>
</ol><br>



<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>