<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to count</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>How to fall off stairs</h2>
<ol>
    <li>use somthing to keep track of where you are at (Fingers,ducks,head)</li><br>
    <li>Start counting from 1 and increas </li><br>
</ol><br>



<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>